.bodyLoginUser{
    display: flex;
    flex-direction: row;
}

.ilustracion{
    width: 50%;
}

.ilustracion img {
    object-fit: cover;
    width: 100%;
    height: 90.5vh;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.Form .contenedor{
    width: 380px;
    margin: auto;
    text-align: center;
}

.Form .contenedor2 {
    width: 380px;
    margin: auto;
}

.Form .contenedor2 h3{
    text-align: center;
}

.Form .contenedor2 a {
    text-align: center;
    display: block;
}

.Form .contenedor2 div{
    margin-bottom: 6px;
}
